<div class="media">
    <div class="media-left">
        <a href="#">
            <img data-src="{{asset('img/avatar.png')}}" src="{{asset('img/avatar.png')}}" data-holder-rendered="true" style="width: 64px; height: 64px;" class="media-object">
        </a>
    </div>
    <div class="media-body">
        <div class="inner">
{#            <div class="btn-reply" data-prototype="">Reply</div>#}
            <h4 class="media-heading"><strong>{fullname}</strong></h4>
            {comment}
        </div>
        <div id="{commentid}" class="media hide"></div>
    </div>
</div>
